
.feed-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-bottom: 20px;
    background-color: #fff;
}

.feed-item-image {
    width: 300px;
    height: auto;
    border-radius: 5px;
}

.feed-item-title {
    margin-top: 10px;
    margin-bottom: 5px;
    font-size: 1.2rem;
}

.feed-item-description {
    font-size: 1rem;
    color: #666;
}