
.login{
    margin: 0;
    height: 100vh;
    background-image: url('../../assets/img/sakura-background.jpg');
    background-size: cover; 
    background-position: center;
  
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.loginBox{
    width: auto;
    height: auto;
    border-radius: 10%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    background: #eebfc18c;

}


.login-access{
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.login-access h1{
    margin: 10px;
    font-family: Bellefair;
    font-size: 30px;
    font-weight: 400;
    text-align: center;
    color: #333;

}

.login-access h2{
    font-family: "Unna", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    text-align: center;
    color: #333;


}

.login-access hr{
    border: 1px;
    border-top: 2px solid #333;
    width: 50%; 
    margin: 2px auto; 
}

.access {
    width: 100%;
    margin: 10px; 
    display: flex;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
}

.access p {
    font-weight: 200;
    font-size: 20px;
    margin: 5px;
    font-family: "Unna", serif;
    font-style: normal;
    text-align: center;
    color: rgba(0, 0, 0, 0.548);
    text-decoration: none;
    position: relative; 
}

.accessGroup {
    width: 100%;
    margin-bottom: 15px;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
}

  
.inputField {
    width: 100%; 
    height: 30px;
    border: 1px solid #ccc; 
    border-radius: 30px; 
    font-family: Bellefair;
    font-size: 15px;
    font-weight: 400;
    color: #7f7f7fad;
    box-sizing: border-box;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.644);

}

  
.access button {
    width: 50%;
    padding: 6px 10px 6px 10px;
    border-radius: 30px; 
    background: #C798E4;
    color: white; 
    cursor: pointer; 
    border: none; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;


    font-family: Bellefair;
    font-size: 25px;
    font-weight: 400;
    text-align: center;


}
  
.access button:hover {
    background-color: #7a5c97d8;
}

.redefinirSenha{
    margin: 5px;
    display: flex;
    flex-direction: column;
}

.redefinirSenha a {
    font-weight: 200;
    font-size: 20px;
    font-family: "Unna", serif;
    font-style: normal;
    text-align: center;
    color: black;
    text-decoration: none;
    position: relative; 
}

.redefinirSenha a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -3px; 
    width: 0; 
    height: 2px; 
    background-color: rgba(0, 0, 0, 0.466); 
    transition: width 0.3s ease; 
}

.redefinirSenha a:hover::after {
    width: 100%; 
}


.passwordInputWrapper {
    position: relative;

}

.passwordInputWrapper input {
    padding-right: 40px;
    box-sizing: border-box;
}

.passwordToggleIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    padding: 10px;
    color: #000;
}

.newUser {
    width: 100%;
    box-sizing: border-box;
}

.newUser hr {
    border: 1px;
    border-top: 2px solid #3333336e;
    width: 100%; 
    margin: 2px auto; 
}

.newUser button {
    background: #5D005F;
    width: 50%; 
    padding: 11px; 
    margin-bottom: 10px;
    border-radius: 30px; 
    color: white; 
    cursor: pointer; 
    border: none; 
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.3);

    font-family: Bellefair;
    font-size: 20px;
    font-weight: 400;
    text-align: center;
}

.newUser button:hover {
    background-color: #7a5c97d8;
}

    /* RESPONSIVIDADE */

/* Estilos responsivos para dispositivos grandes */
@media (min-width: 1025px) {
    .loginBox {
        width: auto;
    }

    .login-access h1 {
        font-size: 25px;
    }

    .inputField {
        font-size: 20px;
    }

    .access button {
        font-size: 27px;
    }

    .newUser button {
        font-size: 22px;
    }
}

/* Estilos responsivos para dispositivos médios (tablets) */
@media (min-width: 768px) and (max-width: 1024px) {
    .loginBox {
        width: 40%;
    }

    .login-access h1 {
        font-size: 20px;
    }

    .inputField {
        font-size: 18px;
    }

    .access button {
        font-size: 23px;
    }

    .newUser button {
        font-size: 18px;
    }
}

/* Estilos responsivos para dispositivos pequenos (celulares) */
@media (max-width: 767px) {
    .loginBox {
        width: 80%;
        height: auto;
    }

    .login-access h1 {
        font-size: 24px;
    }

    .inputField {
        font-size: 16px;
    }

    .access button {
        font-size: 20px;
    }

    .newUser button {
        font-size: 16px;
    }
}